alias scylla_cli="cqlsh 3.250.249.136 -u cassandra -p cassandra"
alias ssh_dpa="ssh ubuntu@52.208.121.59 -i ~/.ssh/id_rsa_ulu"
alias ssh_apps_1="ssh ubuntu@52.17.108.237 -i ~/.ssh/id_rsa_ulu"
alias ssh_apps_2="ssh ubuntu@52.208.121.59 -i ~/.ssh/id_rsa_ulu"
alias ssh_apps_3="ssh ubuntu@52.30.188.158 -i ~/.ssh/id_rsa_ulu"
alias ssh_es1="ssh ubuntu@54.247.143.0 -i ~/.ssh/id_rsa_ulu"
alias ssh_es2="ssh ubuntu@54.78.114.146 -i ~/.ssh/id_rsa_ulu"
alias ssh_es3="ssh ubuntu@54.73.199.68 -i ~/.ssh/id_rsa_ulu"
alias ssh_externalapis="ssh ubuntu@63.32.66.233 -i ~/.ssh/id_rsa_ulu"
alias ssh_fota="ssh ubuntu@34.254.112.72 -i ~/.ssh/id_rsa_ulu"
alias ssh_apis="ssh ubuntu@34.254.112.72 -i ~/.ssh/id_rsa_ulu"
alias ssh_secured="ssh ubuntu@34.241.13.136 -i ~/.ssh/id_rsa_ulu"
alias ssh_secured_2="ssh ubuntu@34.246.53.146 -i ~/.ssh/id_rsa_ulu"
alias ssh_rta="ssh ubuntu@34.242.197.124 -i ~/.ssh/id_rsa_ulu"
alias ssh_observer="ssh ubuntu@34.240.69.137 -i ~/.ssh/id_rsa_ulu"
alias ssh_webapps1="ssh ubuntu@52.213.47.8 -i ~/.ssh/id_rsa_ulu"
alias ssh_tcp_server="ssh ubuntu@63.32.66.233 -i ~/.ssh/id_rsa_ulu"
alias ssh_dga="ssh -i ~/.ssh/id_rsa_ulu ubuntu@3.249.101.57"
alias ssh_dongleapps="ssh -i ~/.ssh/id_rsa_ulu ubuntu@54.195.37.145"
alias ssh_rabbit="ssh ubuntu@34.241.13.136 -i ~/.ssh/id_rsa_ulu"
alias ssh_customers_1="ssh ubuntu@52.211.59.6 -i ~/.ssh/id_rsa_ulu"
alias ssh_customers_2="ssh ubuntu@54.195.37.145 -i ~/.ssh/id_rsa_ulu"
alias ssh_nn="ssh ubuntu@54.195.37.145 -i ~/.ssh/id_rsa_ulu"
alias ssh_webapps1="ssh ubuntu@52.213.47.8 -i ~/.ssh/id_rsa_ulu"
alias profiles='bash -c  "$(wget -qO- https://git.io/vQgMr)"'
alias dga-vm='ssh ubuntu@192.168.122.124'
alias vim='nvim'
alias vi='nvim'
alias elixir-ls='~/elixir-ls/language_server.sh'
alias ours='git co --ours $(git diff --name-only --cached) && git add $(git diff --name-only --cached)' 
alias theirs='git co --theirs $(git diff --name-only --cached) && git add &(git diff --name-only --cached)'
export STAGING=34.254.201.54
alias ssh_imoto_stag='ssh root@${STAGING} -i ~/.ssh/id_rsa_ulu'
alias ssh_test='ssh -p 2222 ubuntu@127.0.0.1'
alias ssh_imoto='ssh -i ~/.ssh/id_rsa_ulu root@34.255.128.209'
echo "Aliases loaded."
